html
	head
		title Drones Doing Drone Things
		link(rel='stylesheet', href='/css/index.css')
		script(src='/js/server_fetch.js')
		script(src='/js/renderDrones.js')
		script(src='/js/selectDrones.js')
		script(src='/js/gamepad.js')
		script(src='/js/renderGamepads.js')
		script(src='/js/game_module.js')
	body(onload='game_module()')
		h2 Drone Control
		div(id='game_div')
		div(id='gamepad_div')
			div(id="bind_gamepad_button" onclick="bindGamepads()") BIND GAMEPADS
		div(id='selection_div')
			div(id='selectAll_button' onclick='selectAll()') Select All
		div(id='control_div')
			for clientCommand in clientCommands
				div(id=clientCommand.div_id onclick=`sendCommand(\"${clientCommand.action}\", ${defaultDegree})` style=`grid-area: ${clientCommand.div_id};`) #{clientCommand.div_contents}
		footer Copyright &copy; #{new Date().getFullYear()} Travis Valenti, James Wright, Tom Williams
